In [1]:
# Section must be included at the beginning of each new notebook. Remember to change the app name. 
# If you're using VirtualBox, change the below to '/home/user/spark-2.1.1-bin-hadoop2.7'
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('missing').getOrCreate()

In [2]:
# Importing data which has a header and automatically configuring the schema.
df = spark.read.csv('AppleStore.csv', header=True, inferSchema=True)

# Let's visually inspect the data. You may notice some nulls in the marital and balance column. 
df.show()

# Let's see how many rows of data we originally have.
print("Total data points:", df.count())

+---+---------+--------------------+----------+--------+-----+----------------+----------------+-----------+---------------+-------+-----------+-----------------+---------------+---------------+--------+-------+
|_c0|       id|          track_name|size_bytes|currency|price|rating_count_tot|rating_count_ver|user_rating|user_rating_ver|    ver|cont_rating|      prime_genre|sup_devices.num|ipadSc_urls.num|lang.num|vpp_lic|
+---+---------+--------------------+----------+--------+-----+----------------+----------------+-----------+---------------+-------+-----------+-----------------+---------------+---------------+--------+-------+
|  1|281656475|     PAC-MAN Premium| 100788224|     USD| 3.99|           21292|              26|        4.0|            4.5|  6.3.5|         4+|            Games|             38|              5|      10|      1|
|  2|281796108|Evernote - stay o...| 158578688|     USD|  0.0|          161065|              26|        4.0|            3.5|  8.2.2|         4+|     Productivity|             37|              5|      23|      1|
|  3|281940292|WeatherBug - Loca...| 100524032|     USD|  0.0|          188583|            2822|        3.5|            4.5|  5.0.0|         4+|          Weather|             37|              5|       3|      1|
|  4|282614216|eBay: Best App to...| 128512000|     USD|  0.0|          262241|             649|        4.0|            4.5| 5.10.0|        12+|         Shopping|             37|              5|       9|      1|
|  5|282935706|               Bible|  92774400|     USD|  0.0|          985920|            5320|        4.5|            5.0|  7.5.1|         4+|        Reference|             37|              5|      45|      1|
|  6|283619399|    Shanghai Mahjong|  10485713|     USD| 0.99|            8253|            5516|        4.0|            4.0|    1.8|         4+|            Games|             47|              5|       1|      1|
|  7|283646709|PayPal - Send and...| 227795968|     USD|  0.0|          119487|             879|        4.0|            4.5| 6.12.0|         4+|          Finance|             37|              0|      19|      1|
|  8|284035177|Pandora - Music &...| 130242560|     USD|  0.0|         1126879|            3594|        4.0|            4.5|  8.4.1|        12+|            Music|             37|              4|       1|      1|
|  9|284666222|PCalc - The Best ...|  49250304|     USD| 9.99|            1117|               4|        4.5|            5.0|  3.6.6|         4+|        Utilities|             37|              5|       1|      1|
| 10|284736660|         Ms. PAC-MAN|  70023168|     USD| 3.99|            7885|              40|        4.0|            4.0|  4.0.4|         4+|            Games|             38|              0|      10|      1|
| 11|284791396|Solitaire by Mobi...|  49618944|     USD| 4.99|           76720|            4017|        4.5|            4.5| 4.10.1|         4+|            Games|             38|              4|      11|      1|
| 12|284815117|    SCRABBLE Premium| 227547136|     USD| 7.99|          105776|             166|        3.5|            2.5| 5.19.0|         4+|            Games|             37|              0|       6|      1|
| 13|284815942|Google â€“ Search m...| 179979264|     USD|  0.0|          479440|             203|        3.5|            4.0|     27|        17+|        Utilities|             37|              4|      33|      1|
| 14|284847138|Bank of America -...| 160925696|     USD|  0.0|          119773|            2336|        3.5|            4.5|  7.3.8|         4+|          Finance|             37|              0|       2|      1|
| 15|284862767|            FreeCell|  55153664|     USD| 4.99|            6340|             668|        4.5|            4.5|  4.0.3|         4+|            Games|             38|              5|       2|      1|
| 16|284876795|TripAdvisor Hotel...| 207907840|     USD|  0.0|           56194|              87|        4.0|            3.5|   21.1|         4+|           Travel|             37|              1|      26|      1|
| 17|284882215|            Facebook| 389879808|     USD|  0.0|         2974676|             212|        3.5|            3.5|     95|         4+|Social Networking|             37|              1|      29|      1|
| 18|284910350|Yelp - Nearby Res...| 167407616|     USD|  0.0|          223885|            3726|        4.0|            4.5|11.15.0|        12+|           Travel|             37|              5|      18|      1|
| 20|284993459|Shazam - Discover...| 147093504|     USD|  0.0|          402925|             136|        4.0|            4.5| 11.0.3|        12+|            Music|             37|              3|      16|      1|
| 21|285005463|Crash Bandicoot N...|  10735026|     USD| 2.99|           31456|            4178|        4.0|            3.5|  1.0.0|         4+|            Games|             47|              0|       1|      1|
+---+---------+--------------------+----------+--------+-----+----------------+----------------+-----------+---------------+-------+-----------+-----------------+---------------+---------------+--------+-------+
only showing top 20 rows

Total data points: 7197

In [5]:
# 'na' stands for Not Available. Using na, we can then use drop. 
# After using show, you'll find that the rows with the null values are gone. 
df.na.drop().show()

AnalysisException: 'Cannot resolve column name "sup_devices.num" among (_c0, id, track_name, size_bytes, currency, price, rating_count_tot, rating_count_ver, user_rating, user_rating_ver, ver, cont_rating, prime_genre, sup_devices.num, ipadSc_urls.num, lang.num, vpp_lic);'